

.img-circle {
    border-radius: 8%;
}

.border {
    border: 1px solid #ccc;
	padding: 10px;

	
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#bglogin{
	background:url(image/nav.jpg);
	opacity:0.5;
}

#bgloginn{

}

.links{
	color: #66757f;
	font-family: Arial;
}

#bg{
	background:url(images/bg.jpg);
	background-image:url("../img/navbar.jpg");
	background-color:#ffffff;
}

.icon-home{
}
.glyphicon.larger { font-size: 150%; }

.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}
