html {
    background-color: gray;
    margin: 0;
    padding: 0;
}
#home{
	font-size: 1.5em;
	font-family: arial;
}
h2{
	font-size: 1.8em;
	font-family: arial;
	padding: 10px;
}
#picwithText{
margin: 0 auto;
display: inline;
text-align:center;
padding: 10px;
}

hr{
border-style: solid;
border-width: 3px;
color: skyblue;
}
p {
    margin: 0px 10px 10px 80px;
    font-family: arial;
    font-size: 1.2em;
    text-align: justify;
    height: 57px;
}
#please{
    color: blue;
    font-size: 1.8em;
    text-align:center;
	padding-top: 20px;
    }
	#please1{
    font-size: 1.5em;
    text-align:center;

	}
#Fill{
    color: blue;
    font-size: 1.7em;
    text-align:center;

    }
body {
    background-color: white;
    border-top: solid 10px #000;
	border-bottom: solid 10px #000;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    height: 600px;
}
a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}
    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

    a:hover {
        background-color: #c7d1d6;
    }
header, footer, hgroup,
nav, section {
    display: block;
	
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
    height: 81px;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1{
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 2em;
}
/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
}

.content-wrapper hgroup#create{
color: white;
background-color: white;
}

#body {
	margin-top: 10px;
    clear: both;
}
header .content-wrapper {
    padding-top: 20px; 
}
footer {
    clear: both;
    font-size: .8em;
    height: 30px;
}
/* site title
----------------------------------------------------------*/
.site-title {
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
}

.site-title a, .site-title a:hover, .site-title a:active {
    background: none;
    color: #c8c8c8;
    outline: none;
    text-decoration: none;
}


 /*login
----------------------------------------------------------*/
#login {
    display: inline;
    font-size: 1em;
    margin: 0 0 10px;
    text-align: right;
    
}
    #login a {
        background-color: #d3dce0;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

    #login a.username {
        background: none;
        margin-left: 0px;
        text-decoration: underline;
    }

    #login ul {
        margin: 0 0 0 8px;
    width: 200px;
    height: 45px;
}

    #login li {
        display: inline;
        list-style: none;
    }
ul#menu {
	
    font-size: 1.3em;
    font-weight: 600;
    margin: 10px;
    padding: 0;
    text-align: right;
	
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 15px;
		padding-right: 10px;
    }

        ul#menu li a {
            background: none;
            color: #999;
            text-decoration: none;
        }

        ul#menu li a:hover {
            color: #333;
            text-decoration: none;
        }


/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
    background-color: #fff;
}
    .featured .content-wrapper {
        background-color: skyblue;
        color: white;
        padding: 20px 40px 30px 40px;
    }
        .featured hgroup.title h1 {
            color: black;
			float:right;
        }
        .featured p {
            font-size: 1.1em;
        }

/* page titles */
hgroup.title {
	margin: 0 auto;
}

hgroup.title h1{
    display: inline;
}
/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}
#Text1 {
            width: 223px;
            height: 25px;
        }
        #Text2 {
            width: 221px;
        }
        #Password1 {
            width: 224px;
            height: 29px;
        }
        #Button1 {
            width: 77px;
            height: 36px;

        }
        #Button2 {
            height: 35px;
            width: 80px;
        }
        #username {
            width: 169px;
            background-color:lightgreen;
        }
        #passw {
            width: 169px;
            background-color:lightgreen;
            
        }
		#fill {
            height: 40px;
            color: blue;
			font-size: 1.7em;
			text-align:center;

        }
        #Button1 {
            width: 67px;
            height: 27px;
        }
        .auto-style1 {
            height: 26px;
        }
        #Password1 {
            width: 208px;
        }
        #tbConfirmPassw {
            width: 204px;
        }
        #btnCreate {
            height: 37px;
        }
        #btnCancel {
           height: 30px;
			width: 60px;
			color: white;
			background-color: skyblue;
        }
		#btnSAVE{
		 height: 30px;
			width: 50px;
			color: white;
			background-color: skyblue;
		}
		#btnLOGIN{
			height: 30px;
			width: 50px;
			color: white;
			background-color: skyblue;
		}
        